Library from https://github.com/GeneralMills/pytrends
```
pip install pytrends
```

In [1]:
import os
import time
from pathlib import Path
import pandas as pd
import numpy as np
from pytrends.request import TrendReq

In [2]:
ticker_df = pd.read_csv('sp500_ticker_mappings.csv')
ticker_df['cashtag'] = '$' + ticker_df['TICKER']
ticker_df.head()

,TICKER,TICKER_EXCHANGE,COMMONNAME,CUSIP,PERMNO,BEGIN_DATE,END_DATE,EXCHANGE,cashtag
0,AAL,AAL-NAS,AMERICAN AIRLINES GROUP INC,02376R10,21020.0,2013-09-12,2020-12-31,NAS,$AAL
1,AAP,AAP-NYS,ADVANCE AUTO PARTS INC,00751Y10,89217.0,2001-11-29,2020-12-31,NYS,$AAP
2,AAPL,AAPL-NAS,APPLE INC,3783310,14593.0,2007-11-01,2020-12-31,NAS,$AAPL
3,ABBV,ABBV-NYS,ABBVIE INC,00287Y10,13721.0,2013-02-01,2020-12-31,NYS,$ABBV
4,ABC,ABC-NYS,AMERISOURCEBERGEN CORP,3.07E+13,81540.0,2001-08-30,2020-12-31,NYS,$ABC

In [3]:
pytrends = TrendReq(hl='en-US', tz=360)

In [4]:
selected_ticker = [ticker_df.cashtag[2]]
print(selected_ticker)

['$AAPL']

In [5]:
sel_ticker_trends = pytrends.get_historical_interest(selected_ticker, year_start=2020, month_start=1, day_start=1, hour_start=0, 
                                        year_end=2020, month_end=1, day_end=2, hour_end=0, 
                                        cat=0, geo='', gprop='', sleep=60)

In [6]:
sel_ticker_trends

                     $AAPL  isPartial
date
2020-01-01 00:00:00      5      False
2020-01-01 01:00:00      5      False
2020-01-01 02:00:00      0      False
2020-01-01 03:00:00      0      False
2020-01-01 04:00:00      0      False
2020-01-01 05:00:00      0      False
2020-01-01 06:00:00      0      False
2020-01-01 07:00:00      0      False
2020-01-01 08:00:00      0      False
2020-01-01 09:00:00      0      False
2020-01-01 10:00:00      0      False
2020-01-01 11:00:00      0      False
2020-01-01 12:00:00      0      False
2020-01-01 13:00:00      4      False
2020-01-01 14:00:00      8      False
2020-01-01 15:00:00      4      False
2020-01-01 16:00:00      0      False
2020-01-01 17:00:00      4      False
2020-01-01 18:00:00     11      False
2020-01-01 19:00:00      8      False
2020-01-01 20:00:00     12      False
2020-01-01 21:00:00      0      False
2020-01-01 22:00:00      0      False
2020-01-01 23:00:00      5      False
2020-01-02 00:00:00      0      False

In [8]:
kw_list = ['singapore', 'singaporean']
keyword_trends = pytrends.get_historical_interest(kw_list, year_start=2021, month_start=1, day_start=1, hour_start=0, 
                                        year_end=2021, month_end=1, day_end=2, hour_end=0, 
                                        cat=0, geo='', gprop='', sleep=60)

In [9]:
keyword_trends

                     singapore  singaporean  isPartial
date
2021-01-01 00:00:00         27            0      False
2021-01-01 01:00:00         41            0      False
2021-01-01 02:00:00         52            0      False
2021-01-01 03:00:00         63            0      False
2021-01-01 04:00:00         66            0      False
2021-01-01 05:00:00         69            0      False
2021-01-01 06:00:00         72            0      False
2021-01-01 07:00:00         74            0      False
2021-01-01 08:00:00         71            0      False
2021-01-01 09:00:00         64            0      False
2021-01-01 10:00:00         66            0      False
2021-01-01 11:00:00         74            0      False
2021-01-01 12:00:00         62            0      False
2021-01-01 13:00:00         71            0      False
2021-01-01 14:00:00         56            0      False
2021-01-01 15:00:00         41            0      False
2021-01-01 16:00:00         32            0      False
2021-01-01 17:00:00         22            0      False
2021-01-01 18:00:00         15            0      False
2021-01-01 19:00:00         12            0      False
2021-01-01 20:00:00         10            0      False
2021-01-01 21:00:00         11            0      False
2021-01-01 22:00:00         16            0      False
2021-01-01 23:00:00         26            0      False
2021-01-02 00:00:00         40            0      False